doctype html
html
  head
    title Credit List
    link(rel='stylesheet', href='/css/credit2.css')
  body
    //- Navbar
    nav.navbar
      .navbar-container
        .logo
          a(href='/') Karibu Groceries
        .navbar-links
          a(href='/') Home
          a(href='/addProduce') Procurement
          //- a(href='/produceList') Produce List
          a(href='/addSale/6818bd19927586a513ba2ec5') Sales
          //- a(href='/salesList') Sales List
          a(href='/credit')  Record Credit 
          //- a(href='/creditList') Credit List
          a(href='/logout') Logout
    .page-container
      .sales-form
        h2 Credit  Records
        table#credits 
          thead
            tr
              th Buyer's name
              th National ID (NIN)
              th Address
              th Contact (Valid)
              th Amount-Due (UgX)
              th Tonnage
              th Sales Agent Name
              th Produce Name
              th Produce Type
              th Amount
              th Due Date
              th Update 
              th Delete
          tbody#credit-table
            if credits.length
              each credit in credits
                tr
                  td #{credit.buyersname}
                  td #{credit.nationalid}
                  td #{credit.address}
                  td #{credit.contact}
                  td #{credit.amountD}
                  td #{credit.tonnage}
                  td #{credit.salesagent}
                  td #{credit.producename}
                  td #{credit.producetype}
                  td #{credit.amount}
                  td(data-date=credit.duedate)= credit.duedate ? new Date(credit.duedate).toLocaleString() : 'N/A'
                  td 
                    a.button-update.table-button(href="/updateCredit/" + credit._id) Update
                  td 
                    form(action="/deleteCredit" method="post")
                      input(type="hidden" name="id" value=credit._id)
                      button.delete-button(type='submit') Delete
    footer.page-footer
      p Kemigisha Esther © 2025 Karibu Groceries Ltd. All rights reserved

