doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Store Dashboard
    link(
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css'
      integrity='sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    )
    link(rel='stylesheet' href='/css/managerdash.css')
    script(src='https://cdn.jsdelivr.net/npm/chart.js')
  body
    // Navbar
    nav.navbar
      .navbar-container
        .logo
          a(href='/') Karibu Groceries 
        .navbar-links
          a(href='/') Home
          a(href='/addProduce') Procurement
          //- a(href='/produceList') Produce List
          a(href='/addSale/6818bd19927586a513ba2ec5') Sales
          //- a(href='/salesList') Sales List
          a(href='/credit') Record Credit 
          //- a(href='/creditList') Credit List
          a(href='/logout') Logout

    // Main Content
    main.content
      // Overview Section
      section.overview
        .card.products
          .card-title PRODUCTS
          .card-value.cardi 5
        .card.categories
          .card-title SALES
          .card-value.cardi 20
        .card.customers
          .card-title IN STOCK
          .card-value.cardi 3
        .card.alerts
          .card-title OUT OF STOCK
          .card-value.cardi 2

      // Performance Highlights Section
      section.performance-highlights
        .highlight-card
          h2 Top Selling Products
          .product-list
            .product-item
              .product-name Cowpeas
              .product-revenue 20m UGX
            .product-item
              .product-name Maize
              .product-revenue 40 UGX
            .product-item
              .product-name SoyBeans
              .product-revenue 35m UGX

        .highlight-card
          h2 Top Sellers By Order
          .seller-list
            .seller-item
              .seller-name King Jerry
              .order-count 12 orders
            .seller-item
              .seller-name Mutoni Judith
              .order-count 14 orders
            .seller-item
              .seller-name Ashaba Ali
              .order-count 14 orders

        .highlight-card
          h2 Customers By Purchases
          .customer-list
            .customer-item
              .customer-name Shelby Goode
              .purchase-count 8 purchases
            .customer-item
              .customer-name Robert Bacins
              .purchase-count 6 purchases
            .customer-item
              .customer-name John Carlo
              .purchase-count 5 purchases

    // Footer
    footer.dashboard-footer
      p Kemigisha Esther © 2025 Karibu Groceries Ltd. All rights reserved.

    script(src='/js/managerdash.js')