doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Sales Dashboard
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js')
    link(
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css'
      integrity='sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    )
    link(rel='stylesheet' href='/css/salesAgentdash.css')
  body
    // Navbar
    nav.navbar
      .navbar-container
        .logo
          a(href='/') Karibu Groceries 
        .navbar-links
          a(href='/') Home
          //- a(href='/addProduce') Procurement
          a(href='/produceList') Produce List
          a(href='/addSale/6818bd19927586a513ba2ec5') Sales
          //- a(href='/salesList') Sales List
          a(href='/credit') Record Credit 
          //- a(href='/creditList') Credit List
          a(href='/logout') Logout

    // Dashboard Content
    .dashboard-content
      h1.sale Sales Dashboard

      // Dashboard Cards
      .dashboard-cards
        .dashboard-item
          h2.h2 Total Sales
          p.Sales 3000
        .dashboard-item
          h2.h2 Today's Sales
          p.Sales 20
        .dashboard-item
          h2.h2 Average Sale
          p.Sales 50
        .dashboard-item
          h2.h2 Items Sold
          p.Sales 50

      // Finance Table
      .finance-table
        h2 Recent Transactions
        table
          thead
            tr
              th Date
              th Transaction Type
              th Description
              th Amount
              th Category
          tbody
            tr
              td 2025-04-25
              td Income
              td Bulk Sales - Kampala Market
              td UGX 500,000
              td Sales
            tr
              td 2025-04-24
              td Expense
              td Delivery Fuel
              td UGX 120,000
              td Transport
            tr
              td 2025-04-22
              td Expense
              td Inventory Restock
              td UGX 650,000
              td Inventory

    // Footer
    footer
      .copyright
        | Kemigisha Esther © 2025 Karibu Sales Maganjo. All rights reserved.

